.forms h3 {
    margin-top: 83px;
}

.forms .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.forms .form input,
.forms .form textarea {
    background-color: var(--white);
    border-radius: 5px;
    margin-bottom: 20px;
}

.forms .form input::placeholder,
.forms .form textarea::placeholder {
    position: relative;
    font-family: var(--secondary-font);
    font-size: 18px;
    left: 18px;
    color: #9496BA;
}

.form input:first-child {
    margin-top: 36px;
}

.forms .form input {
    width: 373.21px;
    height: 60px;
}

.forms .form textarea {
    width: 373.21px;
    height: 150px;
    margin-bottom: 45px;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
}

.forms .form textarea::placeholder {
    top: 20px;
}

.forms .form input:last-child {
    width: 374px;
    height: 50px;
    font-size: 20px;
    background-color: var(--buttonColor);
    color: var(--white);
    font-weight: var(--bold-weight);
}

@media (max-width: 400px) {
    .forms h3 {
        padding-top: 5%;
        font-size: 25px;
    }

    .forms h3,
    .forms .form {
        max-width: 70%;
        margin: auto;
    }

    .forms .form input,
    .forms .form textarea,
    .forms .form input:last-child {
        max-width: 95%;
    }

    .forms .form input:last-child {
        font-size: 80%;
        max-width: 90%;
    }
}