* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bgSite);
    margin: 0 auto;
}

body {
    font-size: 1.6rem;
}

h1,h2,h3 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input {
    border: 0;
}

button:focus,
input:focus {
    border: 0;
}

h1 {
    color: var(--title)
}

 
h1,h2 {
    font-family: var(--main-font);
    max-width: 330px;
}
    
h1 {
    font-weight: 400;
    font-size: 32px;
}
    
h2 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--title);
}

h3 {
    font-weight: 400;
    font-family: var(--main-font);
    color: var(--title);
    font-size: 32px;
    text-align: center;
}  

p {
    color: var(--text);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    max-width: 374px;
}