
.header .aboutsection {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 90px 0 130px 0;
}

.header .aboutsection p {
    margin-top: 15px;
    line-height: 32px;
}

.header .aboutsection img {
    margin-top: 30px;
    margin-right: 7%;
}

.header .aboutsection .column {
    display: flex;
    flex-flow: column wrap;
}

.header .aboutsection .about {
    padding-top: 70px;
    padding-left: 7%;
}

.header .aboutsection .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    margin-top: 57px;
    border-radius: 5px;
    background-color: #6C63FF;
}

.header .aboutsection .button p {
    margin: 50%;
    color: var(--white);
    font-weight: var(--bold-weight);
    font-size: 20px;
}

@media (max-width: 1170px){

    .header .aboutsection {
        justify-content: center;
        align-content: center;
    }

    .header .aboutsection img {
        margin-left: 30px;
    }

    .header .aboutsection .about {
        padding-top: 0;
        padding-left: 20px;
    }
}

@media (max-width: 700px){

    .header .aboutsection img {
        max-width: 500px;
    }
}

@media (max-width: 500px){

    .header .aboutsection img {
        width: 400px;
    }
}

@media (max-width: 400px){

    .header .aboutsection img {
        width: 360px;
    }
}



/* PROVISORIO */


 /* .header .container .about {
    background-color: #000000;
}

h1,p {
    color: white;
}

img {
    background-color: #ED4026;
} */