.projects {
    background-color: var(--white300);
}

.projects .cards {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 150px 0 150px 0;
}

.projects .cards .card {
    margin: 0 20px 0 20px;
    height: 395px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.projects .cards .card:nth-child(-n+3) {
    margin-bottom: 68px;
}

.projects .cards .card h2,
.projects .cards .card p {
    text-align: left;
    margin: 0 auto;
    width: 282px;
    margin-top: 24px;
}



